PORT="3001"
NEXT_PUBLIC_URL="http://localhost:3001"
NEXT_PUBLIC_OTP_EXPIRY="30"
NEXT_PUBLIC_WS_URL="http://localhost:7006"
NEXT_PUBLIC_ADMIN_EMAIL="admin@findu.edu"


AUTH_TOKEN_NAME="accessToken"
AUTH_REFRESH_TOKEN_NAME="aTECHRefrefreshTokenreshToken"
BACKEND_API_URL="http://localhost:7006/api"
NEXTAUTH_URL=http://localhost:3000

NODE_ENV="development";

NEXT_SERVER_ACTIONS_ENCRYPTION_KEY="somekey"
NEXT_PUBLIC_NEXTAUTH_URL="http://localhost:3000"

GOOGLE_CLIENT_ID="someID"
GOOGLE_CLIENT_SECRET="somesecret"

NEXTAUTH_SECRET="somesecret"

FLUTTERWAVE_SECRET_KEY=""
FLUTTERWAVE_RESOLVE_URL="https://api.flutterwave.com/v3/accounts/resolve"
